In [4]:
# Notebook for Plotly (Custom), Plotly Express (Quick), and Plotly Dash (Interactive Python Visualization Library)

import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
import plotly.data as pld
from dash import Dash, dcc, callback, html, Input, Output

# Load dataset
df = pd.read_csv('../data/fortune-500-01.csv', delimiter='\t')

# Peak at the data
df.head(5)

,Rank,Company,Industry,City,State,Zip,Website,Employees,Revenue (in millions),Valuation (in millions),Profits (in millions),Ticker,CEO
0,1,Walmart,General Merchandisers,Bentonville,Arkansas,72716,walmart.com,"2,100,000","$ 648,125","$ 484,853","$ 15,511",WMT,Douglas Mcmillon
1,2,Amazon,Internet Services and Retailing,Seattle,Washington,98109,amazon.com,"1,525,000","$ 574,785","$ 1,873,676","$ 30,425",AMZN,Andrew R. Jassy
2,3,Apple,"Computers, Office Equipment",Cupertino,California,95014,apple.com,"161,000","$ 383,285","$ 2,647,974","$ 96,995",AAPL,Timothy D. Cook
3,4,UnitedHealth Group,Health Care: Insurance and Managed Care,Minnetonka,Minnesota,55343,unitedhealthgroup.com,"440,000","$ 371,622","$ 456,081","$ 22,381",UNH,Andrew P. Witty
4,5,Berkshire Hathaway,Insurance: Property and Casualty (Stock),Omaha,Nebraska,68131,berkshirehathaway.com,"396,500","$ 364,482","$ 908,920","$ 96,223",BRKA,Warren E. Buffett

In [5]:
# Init dash app framework
app = Dash(name=__name__)

# Define dash app dashboard layout, two same graphs with different libraries: Plotly and Plotly Express
app.layout = html.Div([
    html.H1('Graph with Plotly', style={'color': 'white'}),
    dcc.Graph(id='output-graph-plotly'), # used in @callback( Output(...) )
    html.H1('Graph with Plotly Express', style={'color': 'white'}),
    dcc.Graph(id='output-graph-plotly-express'), # used in @callback( Output(...) )
    dcc.Dropdown(
        id='input-dropdown', # used in @callback( Input(...) )
        options=[{'label': col, 'value': col} for col in df.columns],
        value=df.columns[0]
    ),
])

# Define callback for Plotly graph
@callback(
    Output('output-graph-plotly', 'figure'),
    Input('input-dropdown', 'value')
)
def set_graph_plotly(input_dropdown):
    fig = go.Figure()
    fig.add_trace(go.Scatter(x=df.index, y=df[input_dropdown], mode='lines+markers', name=input_dropdown))
    fig.update_layout(title='Fortune 500', xaxis_title='Year', yaxis_title=input_dropdown)
    # ðŸ–¤ easy on the eyes
    fig.update_layout(paper_bgcolor='rgba(0,0,0,0)', plot_bgcolor='rgba(0,0,0,0)', font_color='rgba(255,255,255,255)')
    return fig

# Define callback for Plotly Express graph
@callback(
    Output('output-graph-plotly-express', 'figure'),
    Input('input-dropdown', 'value')
)
def set_graph_plotly_express(input_dropdown):
    fig = px.scatter(df, x=df.index, y=input_dropdown, title='Fortune 500', labels={'x': 'Year', 'y': input_dropdown})
    # ðŸ–¤ easy on the eyes
    fig.update_layout(paper_bgcolor='rgba(0,0,0,0)', plot_bgcolor='rgba(0,0,0,0)', font_color='rgba(255,255,255,255)')
    return fig

# Run the app
if __name__ == '__main__':
    app.run(port=8053, debug=True)

In [ ]:
# Init dash app framework
app = Dash(name=__name__)



# Run the app
if __name__ == '__main__':
    app.run(port=8053, debug=True)